# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# File
Client/Default/Debug
Client/Default/Release
Engine/System/Default/Debug
Engine/System/Default/Release
Engine/Utility/Default/Debug
Engine/Utility/Default/Release

